[submodule "buyself-frontend"]
	path = buyself-frontend
	url = https://github.com/2023-Winter-Bootcamp-TeamH/buyself-frontend.git
[submodule "buyself-backend"]
	path = buyself-backend
	url = https://github.com/2023-Winter-Bootcamp-TeamH/buyself-backend.git
